.inventory {
    flex: 1;
    background-color: grey;
}
#inventory-h1 {
    margin-bottom: 0;
}
.inventory-items {
    padding-left: 20px;
    padding-bottom: 20px;;
    padding-top: 20px;;
    text-align: left;
    height: 100px;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.inventory img {
    height: 100px;
    width: 100px;
    border: 5px solid black;
}