.main-box {
    flex: 3;
    background-color: rgb(69, 68, 68);
    border: 5px solid black;
    border-bottom: 10px solid black;
    overflow-y: auto;
}
.gameplay {
    width: 90%;
}
button {
    margin: 10px;
}
#game-over {
    width: 80vh;
    height: 30vh;
    margin-top: 20px;
    border: 5px solid black;;
}
h1 {
    margin-bottom: 0;
    background-color: rgb(121, 81, 121);
    border-bottom: 10px solid black;
    border-top: 5px solid black;
}   