.party {
    flex: 1;
    background-color: grey;
}
.party-members {
    padding-left: 20px;
    padding-bottom: 20px;;
    padding-top: 20px;;
    text-align: left;
    height: 100px;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
  .party img {
    height: 100px;
    width: 100px;
    border: 5px solid black;
}